<footer class="bg-light py-4">
  <div class="container">
    <p class="text-center">&copy; Manreet`s Portfolio</p>
      <p class="text-center">
        Connect with me on:<br>
        <a class="btn btn-primary mx-2" href="https://www.linkedin.com/in/manreet-k-2ba7671a4/" target="_blank">LinkedIn</a>
        <a class="btn btn-dark mx-2" href="https://github.com/Manreet10" target="_blank">GitHub</a>
      </p>
  </div>
</footer>
