<section class="container mt-5">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img src="/images/profilepic.png" alt="Your Name" class="img-fluid rounded-rectangle" style="width: 200px; height: 400px;">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1 class="display-4">Hello, I`m Manreet Grewal</h1>
      <p class="lead">A Passionate Programmer</p>
      <p class="text-muted">Welcome to my world of coding and creativity! With a burning passion for programming, I thrive on transforming ideas into exceptional digital experiences. Armed with a strong foundation in programming languages such as Python,Java,JS, I embark on thrilling coding adventures, solving complex problems and crafting innovative solutions.</p>
      <p class="text-muted">Driven by a relentless curiosity, I continuously explore the latest technologies and embrace industry best practices to stay at the forefront of the ever-evolving programming landscape. From designing elegant interfaces to completed professional certification from reputed institutions such as Google and IBM, I am dedicated to creating seamless and intuitive applications that make a meaningful impact.</p>
      <p class="text-muted">Join me on this exciting journey of innovation and collaborate to turn your visions into reality. Together, we can create remarkable digital experiences that leave a lasting impression.</p>
      <a href="/contact" class="btn btn-primary">Get in Touch</a>
    </div>
  </div>
</section>
