<section ="container mt-5">
      <h1>My Projects</h1>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card h-100">
            <img src="/images/scrpic.png" class="card-img-top project-image" alt="Scrabble Points Generator">
            <div class="card-body">
              <h5 class="card-title">Scrabble Points Generator</h5>
              <a href="https://github.com/Manreet10/ScrabblePointsGenerator" class="btn btn-primary">Visit Website</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <img src="/images/matchmaniapic.png" class="card-img-top project-image" alt="Match Maniac">
            <div class="card-body">
              <h5 class="card-title">Match Mania</h5>
              <a href="https://github.com/Manreet10/MatchMania" class="btn btn-primary">Visit Website</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <img src="/images/censuspic.jpg" class="card-img-top project-image" alt="Census">
            <div class="card-body">
              <h5 class="card-title">Adult Data Census</h5>
              <a href="https://share.streamlit.io/manreet10/adult-census-improvised/main/census_app.py" class="btn btn-primary">Visit Website</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">

     <div class="col-md-4">
          <div class="card h-100">
            <img src="/images/mathwizpix.png" class="card-img-top project-image" alt="Math Wiz">
            <div class="card-body">
              <h5 class="card-title">MathWiz</h5>
              <a href="https://github.com/Manreet10/MathWiz" class="btn btn-primary">Visit Website</a>
            </div>
          </div>
     </div>
    </div>
</section>